* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #242e47;
    padding: 20px;
    text-align: center;
}

header .logo {
    max-width: 180px;
}

h1, h2 {
    color: #242e47;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 15px;
}

section {
    padding: 50px 0;
}

.missao, .visao, .valores, .equipe {
    margin-bottom: 30px;
}

.missao h2, .visao h2, .valores h2, .equipe h2 {
    font-size: 22px;
    color: #242e47;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    font-size: 16px;
}