.borda{
border: 1px solid #A6A6A6;
border-radius: 12px;
padding: 5px;
margin: auto;

}

.texto{
border: 1px solid #A6A6A6;
border-radius: 5px;
padding: 5px;
}

body{
    background-color: #F2F2F2;
    color: #373737;
}
h1{
    text-align: center;
}

.form{
    margin: auto;
}

