@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    padding: 10px;
    height: 80px;
    background-color: #f0f0f0;
}

nav img {
    width: 70px; 
    height: auto;
    justify-content: start;
}

main{

}

h1{
    font-size: 50px;
    text-align: center;
    font-family: "Meow Script", serif;
}

section img{
    width: 100%;
    opacity: 40%;
    position: relative;

}

section p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    background-color: aliceblue;
    display: flex;  
}

.imgs{  
    align-items: center;
    width: 100px;
    justify-content: space-between;
    align-content: center;
}